@font-face {
  font-family: "pokefont";
  src: url(fonts/PokemonSolid.ttf) format("truetype");
}
* {
  font-family: "Raleway", pokefont, Arial;
}
.pokemonNames {
  padding: 0.5vw;
  margin: 0.5vw;
  min-width: 35vw;
  text-align: center;
  vertical-align: middle;
  background: rgb(49, 49, 49);
  justify-self: center;
  align-self: center;
  border-radius: 15px;
  border: 2px solid black;
  color: white;
  font-family: pokefont, Arial;
  font-size: 2vw;
  font-weight: 100;
  letter-spacing: 0.55vw;
}
.pokemonNames:hover {
  background: rgb(140, 140, 140);
  color: black;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  box-shadow: 0px 0px 2px 2px black;
}

.pokemonNamesContainer {
  display: grid;
  grid-template-columns: auto auto;
}
.pokeball {
  position: absolute;
  width: 11vw;
  height: auto;
  right: 0;
  margin: 9vw;
  margin-top: -16vw;
  border-radius: 50%;
}
.pokeball:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.75);
  transition: all 100ms ease;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 2.2vw;
  background: rgba(255, 255, 255, 0.75);
  color: black;
  text-align: center;
  padding: 0.6vw;
  border-radius: 1vw;
  position: absolute;
  right: 0;
  margin: 5vw;
  margin-top: -4.8vw;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: all 100ms ease-in-out;
  font-weight: 900;
}
.tooltiptext span {
  font-family: pokefont, "raleway";
  line-height: 0;
  font-weight: 100;
  letter-spacing: 0.1vw;
}
@media only screen and (max-device-width: 500px) {
  .pokemonNames {
    font-size: 0.7rem;
    margin: 1.2vw;
    padding: 1vw;
    padding-block: 1.3vw;
  }
  .pokemonNamesContainer {
    margin-block: 6vw;
  }
}
