.card-button-container {
  display: flex;
  justify-content: space-between;
  margin: 5vw;
  margin-top: 1vw;
}
.card-button-container button {
  font-family: "Courier New", Courier, monospace;
  font-size: 3vw;
  font-weight: 900;
  padding: 0.7vw;
  border-radius: 1vw;
  background: rgb(255, 57, 57);
  color: white;
  border: 0.2vw solid red;
}
.card-button-container .right {
  background: rgb(255, 5, 5);
  background: linear-gradient(
    270deg,
    rgba(255, 5, 5, 1) 13%,
    rgb(33, 33, 33) 19%,
    rgb(100, 100, 100) 92%
  );
  padding-right: 3vw;
}
.card-button-container .left {
  background: rgb(255, 5, 5);
  background: linear-gradient(
    90deg,
    rgba(255, 5, 5, 1) 13%,
    rgb(33, 33, 33) 19%,
    rgb(100, 100, 100) 92%
  );
  padding-left: 3vw;
}
.card-button-container button:hover {
  cursor: pointer;
  border: 0.2vw solid yellowgreen;
  transition: all 200ms ease;
}
.card-button-container button:disabled:hover {
  cursor: default;
  border: 0.2vw solid red;
}
.card-button-container button:disabled {
  opacity: 0.5;
}
@media only screen and (max-device-width: 500px) {
  .card-button-container {
    margin-top: 5vw;
  }
  .card-button-container button {
    font-size: 1.6rem;
    padding: 1.7vw;
    border-radius: 2vw;
    margin-inline: 3vw;
  }
  .card-button-container .right {
    padding-right: 6vw;
  }
  .card-button-container .left {
    padding-left: 6vw;
  }
}
@media only screen and (device-width: 768px) {
  .card-button-container button {
    font-size: 2rem;
    padding: 2vw;
    border-radius: 2vw;
  }
  .card-button-container .right {
    padding-right: 5vw;
  }
  .card-button-container .left {
    padding-left: 5vw;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .card-button-container button {
    font-size: 2rem;
    padding: 2vw;
    border-radius: 2vw;
  }
  .card-button-container .right {
    padding-right: 5vw;
  }
  .card-button-container .left {
    padding-left: 5vw;
  }
}
